﻿@model IEnumerable<TreeViewMVC.Models.Level>
@using System.Web.UI.WebControls
@using TreeViewMVC.Models;

<h2>TreeViewLevel</h2>
<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
@using (Html.BeginForm("TreeViewLevel", "Home", FormMethod.Post))
{
    <input type="hidden" name="selectedItems" id="selectedItems" />
    <input type="submit" value="Submit" />
}
<div class="form-body">
    <div id="jstree">
        @(Html.TreeView(Model)
                          .EmptyContent("root")
                          .Children(m => m.Childs)
                          .HtmlAttributes(new { id = "tree" })
                      .ChildrenHtmlAttributes(new { @class = "subItem" })
                          .ItemText(m => m.Description)
                          .ItemTemplate(
                                         @<text>
                                             <a href="@item.Description" desc="@item.Description">@item.Description</a>
                                         </text>)
                                       )
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jsTree3/jstree.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#jstree').on('changed.jstree', function (e, data) {

                var i, j;
                var selectedItems = [];
                for (i = 0, j = data.selected.length; i < j; i++) {

                    //Fetch the Id.
                    var id = data.selected[i];


                    //Remove the ParentId.
                    if (id.indexOf('-') != -1) {
                        id = id.split("-")[1];
                    }

                    //Add the Node to the JSON Array.
                    selectedItems.push({
                        text: data.instance.get_node(data.selected[i]).text,
                        id: id,
                        parent: data.node.parents[0]
                    });
                }

                //Serialize the JSON Array and save in HiddenField.
                $('#selectedItems').val(JSON.stringify(selectedItems));
            }).jstree({
                "core": {
                    "multiple": true,
                    "check_callback": false,
                    "select_node": false,
                    'themes': {
                        "responsive": true,
                        'variant': 'larg',
                        'stripes': false,
                        'dots': false
                    }

                },
                // it makes that don't select father node
                "checkbox": {
                    "three_state": false
                },
                "types": {
                    "default": {
                        "icon": "fa fa-folder icon-state-warning icon-lg"
                    },
                    "file": {
                        "icon": "fa fa-file icon-state-warning icon-lg"
                    }
                },
                "plugins": ["dnd", "state", "types", "sort", "checkbox"]
            });
        });
    </script>

}

